@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Candy Darling';
    src: url('/fonts/cdr.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gooper';
    src: url('/fonts/gl.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gooper';
    src: url('/fonts/gli.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    @apply text-[calc(10/1536*100vw)] bg-tan text-black;

    --header-height: 6.2rem;
    --footer-height: 4rem;

    @screen m {
      --footer-height: 6.2rem;
    }
  }

  body {
    @apply text-20 leading-150 -tracking-1 font-gooper bg-tan overflow-hidden;
  }

  a,
  button {
    @apply outline-black;
  }

  ::selection {
    @apply bg-black text-tan;
  }

  [a-page] {
    @apply invisible transition-none min-h-screen flex flex-col justify-between;
  }
}

@layer components {
  .notched {
    --notch-size: 5.7rem;

    clip-path: polygon(
      0% var(--notch-size),
      var(--notch-size) 0%,
      calc(100% - var(--notch-size)) 0%,
      100% var(--notch-size),
      100% calc(100% - var(--notch-size)),
      calc(100% - var(--notch-size)) 100%,
      calc(100% - var(--notch-size)) 100%,
      var(--notch-size) 100%,
      0% calc(100% - var(--notch-size))
    );
  }

  .marquee {
    @apply w-full overflow-hidden;

    &-inner {
      @apply flex justify-start whitespace-nowrap will-change-transform;
    }

    &-el {
      @apply flex-grow-0;
    }
  }

  [data-sqzbx-panel] {
    overflow: hidden;
    max-height: 0;
  }

  [data-sqzbx-panel][aria-hidden='true'] {
    max-height: 0 !important;
  }

  .accordion {
    [data-sqzbx-button] {
      background: unset;
      border: unset;
      border-radius: unset;
      appearance: none;
      cursor: pointer;
      font: inherit;

      position: relative;
      width: 100%;
      padding: 4.5rem 29.6rem 4.5rem 2.5rem;
      text-align: left;
      font-size: 3.4rem;
      line-height: 1.35;

      &:nth-of-type(odd) {
        background-color: theme('colors.blue-secondary');
      }
    }

    [data-sqzbx-button]::before,
    [data-sqzbx-button]::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1px;
      background-color: black;
      transition: transform 500ms theme('transitionTimingFunction.in-out-cubic');
      height: 2px;
      width: 5.7rem;
      right: 3rem;
    }

    [data-sqzbx-button]::after {
      transform: rotate(90deg);
    }

    [data-sqzbx-button][aria-expanded='true']::before {
      transform: rotate(-45deg);
    }

    [data-sqzbx-button][aria-expanded='true']::after {
      transform: rotate(45deg);
    }

    [data-sqzbx-panel] {
      margin: 0;
      overflow: hidden;
      transition: all 500ms theme('transitionTimingFunction.in-out-cubic');
      max-height: 0;
      transform: none;

      &:nth-of-type(odd) {
        background-color: theme('colors.blue-secondary');
      }
    }

    [data-sqzbx-panel][aria-hidden='true'] {
      max-height: 0 !important;
    }

    [data-sqzbx-panel] p {
      padding: 0 50rem 4.5rem 12.3rem;
    }
  }
}

@layer utilities {
  .bleed {
    @apply w-screen relative inset-x-1/2 mx-[-50vw];
  }

  .hide-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
