@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/nmr.woff2') format('woff2'), url('/fonts/nmr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/nmm.woff2') format('woff2'), url('/fonts/nmm.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/nmb.woff2') format('woff2'), url('/fonts/nmb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    @apply text-[10px] text-white bg-black;

    --header-height: 6.2rem;
    --footer-height: 4rem;

    @screen m {
      --footer-height: 6.2rem;
    }
  }

  body {
    @apply text-20 leading-140 font-sans text-white bg-black overflow-x-hidden;
  }

  a,
  button {
    @apply outline-none;
  }

  ::selection {
    @apply bg-white text-black;
  }

  [a-page] {
    @apply invisible transition-none min-h-screen flex flex-col justify-between;
  }
}

@layer components {
  .rich-text {
    p + p,
    li + li {
      @apply mt-25 m:mt-32 l:mt-47 first:mt-0;
    }
  }

  .rich-text a,
  a.hyperlink {
    word-wrap: break-word;

    &:hover {
      opacity: 0.65;
    }
  }

  [data-module] {
    @apply first:mt-[calc(var(--header-height)+clamp(50px,calc(100/1536*100vw),100px))] mb-[clamp(50px,calc(100/1536*100vw),100px)];
  }

  [data-module='videoPlayer'] {
    @apply !mt-[var(--header-height)];

    @screen l {
      @apply mt-0;
    }
  }
}

@layer utilities {
  .bleed {
    @apply w-screen relative inset-x-1/2 mx-[-50vw];
  }

  .hide-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .focusable {
    @apply focus-visible:outline focus-visible:outline-white focus-visible:outline-1;
  }

  .g {
    @apply grid grid-cols-16 gap-x-10 m:gap-x-30 px-10 m:px-30;
  }

  .gp {
    @apply px-10 m:px-30;
  }

  .gg {
    @apply gap-x-10 m:gap-x-30;
  }

  .gs {
    @apply gap-x-10 m:gap-x-30 px-10 m:px-30;
  }
}

.v-vlite {
  --vlite-colorPrimary: theme('colors.white');
  --vlite-colorSecondary: theme('colors.black');
  --vlite-progressBarBackground: rgba(255, 255, 255, 0.4);
  --vlite-controlsOpacity: 1;

  @apply w-full h-full;

  video {
    @apply w-full h-full object-contain;
  }
}

.v-video .v-controlBar .v-progressBar {
  @apply static w-full transform-none mx-10 rounded-[0];
}
