@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Candy Darling';
    src: url('/fonts/cdr.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gooper';
    src: url('/fonts/gl.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gooper';
    src: url('/fonts/gli.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    @apply text-[calc(10/1536*100vw)] bg-tan text-black;

    --header-height: 6.2rem;
    --footer-height: 4rem;

    @screen m {
      --footer-height: 6.2rem;
    }
  }

  body {
    @apply text-20 leading-150 -tracking-1 font-gooper bg-tan overflow-hidden;
  }

  a,
  button {
    @apply outline-black;
  }

  ::selection {
    @apply bg-black text-tan;
  }

  [a-page] {
    @apply invisible transition-none min-h-screen flex flex-col justify-between;
  }
}

@layer components {
  .notched {
    --notch-size: 5.7rem;

    clip-path: polygon(
      0% var(--notch-size),
      var(--notch-size) 0%,
      calc(100% - var(--notch-size)) 0%,
      100% var(--notch-size),
      100% calc(100% - var(--notch-size)),
      calc(100% - var(--notch-size)) 100%,
      calc(100% - var(--notch-size)) 100%,
      var(--notch-size) 100%,
      0% calc(100% - var(--notch-size))
    );
  }
}

@layer utilities {
  .bleed {
    @apply w-screen relative inset-x-1/2 mx-[-50vw];
  }

  .hide-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
