---
layout: base.njk
---
<div class="flex">
  <div class="hidden 500:grid place-content-center sticky top-0 w-1/2 h-screen bg-blue">
    <img
      class="w-[63%] mx-auto"
      src="/assets/images/cake.png"
      alt="Illustration of a wedding cake"
    >
  </div>
  <div class="w-full 500:w-1/2 text-center">
    <div class="bg-blue 500:bg-cream pt-50 500:pt-126 pb-50 500:pb-0 px-15">
      <h1 class="font-candy tracking-0 space-y-20 750:space-y-25 mb-33 750:mb-35 max-w-[332px] 750:max-w-[605px] mx-auto">
        <div class="text-35 750:text-46 leading-140">Save the Date</div>
        <div class="text-48 750:text-70 leading-128">Jenny & Mike's Wedding Day!</div>
      </h1>
      <div class="text-20 750:text-25 leading-135 italic space-y-15 750:space-y-16 max-w-[279px] 750:max-w-[417px] mx-auto">
        <p>September 23, 2023</p>
        <p>at Morris Arboretum of the University of Pennsylvania</p>
        <p>Philadelphia, PA</p>
      </div>
      <img
        class="500:hidden max-w-[276px] mx-auto mt-43"
        src="/assets/images/cake.png"
        alt="Illustration of a wedding cake"
      >
    </div>
    <div class="pt-50 500:pt-0 pb-36 500:pb-60 px-15">
      <div class="hidden 500:block max-w-[370px] mx-auto mt-80 mb-90">
        <img src="/assets/images/divider.png" alt="">
      </div>
      <h2 class="font-candy text-35 750:text-46 leading-140 tracking-0 mb-15 750:mb-25">Hotel Information</h2>
      <p class="text-20 750:text-25 text-left 750:text-center max-w-[466px] mx-auto mb-40 750:mb-50">
        We have set up a room block at the Residence Inn by Marriott in Bala Cynwyd. There will be shuttles with limited seating available to and from the event. We hope you can join us!
      </p>
      <a
        class="inline-block text-20 leading-100 pt-13 pb-16 px-35 rounded-full border-black border-[1px] hover:bg-black hover:text-cream"
        href="https://www.marriott.com/events/start.mi?id=1659021055198&key=GRP"
        target="_blank"
        rel="noopener noreferrer"
      >Book a room</a>
      <p class="text-20 leading-135 italic mt-70 750:mt-80 mb-20 750:mb-32">more info soon! xoxo</p>
      <img class="block w-126 mx-auto" src="/assets/images/us.png" alt="Cute illustration of us with hearts as eyes">
    </div>
  </div>
</div>